body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.display h1 {
  font-size: 1.4em;
  margin-top: 5em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #838485
}
a:visited {
  color: #838485;
}
a:hover {
  color: black;
}

/* Hide select arrows */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.display {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.count-down {
  font-size:4.4em;
  margin-top: .4em;
}
.display.work span {
  color: cornflowerblue;
}
.display.rest span {
  color: palevioletred;
}

button:hover {
  cursor: pointer;
  box-shadow: .5px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* button[disabled] {
  border: 1px solid gray;
} */

.control {
  margin: 4em;
}

.setting-button {
  margin-top: 8em;
}

/* Setting Page */
.setting-page {
  padding-top: 6em;
  width: 70%;
  margin: auto;
}
.setting-page .setting-item {
  margin-bottom: 2em;
}
.back-button {
  align-self: flex-start;
  margin-bottom: 2em;
}
.back-button:hover {
  cursor: pointer;
}
.setting-page .toggle-button-group {
  display: flex;
  flex-direction: column;
}
/* .setting-page label {
  display: flex
} */
/* .setting-page label {
  margin-bottom: 2.4em;
  width: 100%;
}
.setting-page label div {
  flex: 1 auto  50%;
  margin-left: 2em;
} */
/* .setting-page input {
  width: 2em;
} */
/* .setting-page input,
.setting-page div span {
  font-size: 2.4em;
}
.setting-page p {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
  flex: 1 auto 50%; 
  text-align: right;
  margin-right: 1em;
  align-self: center;
} */

.alert {
  /* border: 1px solid #DE507A; */
  border-radius: 5px;
  background: #D3EDD1;
}
.alert p {
  margin: 1em;
}
.alert button {
  margin: 1em;
  background: #D3EDD1;
}
.alert-action-buttons {
  display: flex;
  justify-content: center;
}

audio {
  display: none
}
